# --extra-index-url https://download.pytorch.org/whl/cu121
# Core Dependencies
torch>=2.0
numpy
pandas
scipy
tqdm
PyYAML
matplotlib

# HPO
optuna

# Analysis (optional)
seaborn
scikit-learn
tabulate

#ials
implicit